services:
  # --- EL CEREBRO (IDENTIDADES) ---
  openldap:
    image: osixia/openldap:latest
    container_name: ldap-server
    environment:
      LDAP_ORGANISATION: "PercyJackSon Security"
      LDAP_DOMAIN: "percyjackson.security"
      LDAP_ADMIN_PASSWORD: "Admin01"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ./docker/ldap/data:/var/lib/ldap
      - ./docker/ldap/config:/etc/ldap/slapd.d
      - ./scripts:/scripts
    networks:
      - pjs-network

  ldap-gui:
    image: osixia/phpldapadmin:latest
    container_name: ldap-gui
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    depends_on:
      - openldap
    networks:
      - pjs-network

  # --- EL TÚNEL (VPN) ---
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard-server
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - SERVERURL=auto
      - SERVERPORT=51820
      - PEERS=3
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.13.13.0
      - POSTUP=iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
      - POSTDOWN=iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
    ports:
      - "51820:51820/udp"
    volumes:
      - ./docker/wireguard:/config
      - /lib/modules:/lib/modules
    networks:
      - pjs-network
      - corpnet-network
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1

  # --- BASE DE DATOS (MARIADB) ---
  db:
    image: mariadb:10.4
    container_name: corpnet-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Admin01
      MYSQL_DATABASE: sistema_corporativo
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    networks:
      - pjs-network

  # --- LA WEB (CONSOLIDADA) ---
  web-corp:
    build: ./docker/web
    container_name: web-corporate
    restart: always
    volumes:
      - ./web:/var/www/html
      - ./scripts:/scripts
    ports:
      - "80:80"
    depends_on:
      - openldap
      - db
    networks:
      pjs-network:
        ipv4_address: 172.19.0.100 #IP fija
      corpnet-network: {}

    # Instalamos mysqli al vuelo para asegurar conexión con la DB
    entrypoint: >
          sh -c "apt-get update && 
                apt-get install -y libldap2-dev mariadb-client && 
                docker-php-ext-install mysqli ldap && 
                apache2-foreground"

# --- VOLÚMENES GLOBALES ---
volumes:
  db_data:

# --- REDES GLOBALES ---
networks:
  pjs-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/24 #Rango de IPs permitidas
  corpnet-network:
    external: true